<?xml version="1.0" encoding="UTF-8"?>

<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="basePath">logs</Property>
        <!--        <Property name="basePath">logs</Property>-->
        <!--        <Property name="basePath">logs</Property>-->
    </Properties>

    <Appenders>
        <File name="LogsServer" fileName="${basePath}/LogsServer.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </File>

        <File name="LogsDatabase" fileName="${basePath}/LogsDatabase.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </File>

        <File name="LogsAuthService" fileName="${basePath}/LogsDatabase.log" append="true">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </File>

        <File name="" fileName="${basePath}/LogsDatabase.log" append="true">
            <PatternLayout patLogsClienttern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n" />
        </File>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-10p %d{dd.MM.yyyy | HH:mm:ss:msss} ServerLogs  [%t] ____ (%F:%L) - %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogsServer"/>
            <AppenderRef ref="STDOUT" />
        </Root>
        <!--        <Logger name="super_logger" level="trace" additivity="false">-->
        <!--            <AppenderRef ref="FILE2" />-->
        <!--            <AppenderRef ref="STDOUT" />-->
        <!--        </Logger>-->
        <!--        <Logger name="ru.geekbrains.jc3_feb.l6_log_test.LoggingExample" level="trace" additivity="false">-->
        <!--            <AppenderRef ref="FILE2" />-->
        <!--        </Logger>-->
        <Logger name="server.Server" level="info" additivity="false">
            <AppenderRef ref="LogsServer" />
            <AppenderRef ref="STDOUT" />
        </Logger>
        <Logger name="DatabaseChat.ClientsDatabaseService" level="info" additivity="false">
            <AppenderRef ref="LogsDatabase" />
            <AppenderRef ref="STDOUT" />
        </Logger>
        <Logger name="auth.InMemoryAuthService" level="info" additivity="false">
            <AppenderRef ref="LogsAuthService" />
            <AppenderRef ref="STDOUT" />
        </Logger>
        <Logger name="server.ClientHandler" level="info" additivity="false">
            <AppenderRef ref="LogsClient" />
            <AppenderRef ref="STDOUT" />
        </Logger>

        <!--        <Logger name="ru.geekbrains.logging.StableModule" level="error" />-->
    </Loggers>
</Configuration>